.graph-container {
  display: block;
  height: 50%;
  border-bottom: 1px solid $color--border1;
}

.graph {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.graph__max-min {
  position: absolute;
  z-index: -1;
  height: 80%;
  width: calc(100% - 40px);
  top: 10%;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.5rem;
  padding: 0.85rem 0;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to left, transparent, $color--type);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

.graph__marker {
  z-index: -1;
  visibility: hidden;
  overflow: visible;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 100px;
  background: linear-gradient(to top, $color--background 0%, $color--type 35%, $color--type 65%, $color--background 100%);
}

.graph__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: $color--type;
  position: absolute;
  top: calc(50% - 0.25rem);
  left: calc(50% - 0.25rem);
}

.graph__header {
  position: fixed;
  white-space: pre;
  text-align: right;
  transform: translate(1.5rem, -3rem);
  transition: transform 0.3s;
}

canvas {
  width: calc(100% - 40px);
  height: 80%;
  margin: 0 20px;
}

.graph__time-increment,
.graph__time-options {
  color: rgb(166, 166, 166);
  height: 10%;
  list-style-type: none;
  padding: 0 20px;
  align-items: center;
  font-size: 0.8rem;
  display: flex;
}

.graph__time-increment li {
  display: inline-block;
  margin-right: 0;
}

.graph__time-options {
  justify-content: space-between;
  padding: 0 5rem;
  li {
    cursor: pointer;
  }
 }

 .time-option__active {
   font-weight: 500;
   color: $color--type;
 }